<!DOCTYPE html>
<html>
    <style>
        .center-align {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 25vh;
        }
    </style>
<head>
    <title>Home Page</title>
</head>
<body class="center-align" >
    <h1>Welcome to the Car Purchase Prediction System</h1>
    <p>Enter the details to predict whether a customer will purchase a car or not.</p>
    <a href="/carprediction">Go to Car Prediction</a>
</body>
</html>
