<!DOCTYPE html>
<html>
    <style>
        .center-align {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 25vh;
        }
    </style>
<head>
    <title>About Us</title>
</head>
<body class="center-align" >
    <h1>About Us</h1>
    <p>We are a team dedicated to developing innovative machine learning solutions for car purchase prediction.</p>
    <a href="/">Go to Home</a>
</body>
</html>
